@media only screen and (max-width: 800px) {
  .des-declaration {
    font-size: 2.4rem;
    width: 80%;
  }
  .dec-points {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    .dec-point {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
      .dec-text {
        padding-top: 2vh;
        text-align: center;
      }
    }
  }
}
