.intro-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12.5vh;
  padding-bottom: 10vh;
  background-color: var(--font-blue);
  position: relative;
  * {
    transition: all 0.5s ease-in-out;
  }
  &:nth-of-type(1)::before {
    content: "";
    position: absolute;
    border: 1px solid white;
    height: 10vh;
    top: 0;
    right: 10%;
  }
  &:nth-of-type(1)::after {
    content: "";
    position: absolute;
    border: 1px solid var(--font-blue);
    height: 10vh;
    top: -10vh;
    right: 10%;
  }
  .scroll-down-text {
    position: absolute;
    top: -10vh;
    color: white;
    text-decoration: none;
    right: 10%;
    margin-right: 1vw;
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    svg {
      color: var(--font-blue);
      margin-right: 0.5vw;
      align-self: center;
    }
  }
  .intro-heading {
    font-size: 1.5rem;
    color: black;
    letter-spacing: 0.2em;
  }
  .intro-declaration {
    width: 550px;
    font-size: 5rem;
    font-weight: 600;
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
    padding-bottom: 30px;
  }
  .intro-para {
    font-size: 1.85rem;
    text-align: center;
    letter-spacing: 0.05em;
    padding-bottom: 6vh;
    text-align: justify;
  }
  .stats-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin: 5vh 0;
    .stat-container {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: space-between;
      margin: 1vh 0;
      border-left: 1px solid white;
      &:nth-of-type(1) {
        border: none;
      }
      .stat-value {
        color: white;
        font-size: 4.5rem;
        font-weight: 600;
      }
      .stat-desc {
        font-size: 1.25rem;
        font-weight: 600;
      }
    }
  }
  @import "./introduction-mobile";
}
