.header-main {
  height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 6% 15px 4%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  strong {
    color: white;
  }
  .logo {
    display: flex;
    font-size: 2.75rem;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    margin: auto 0;
    color: var(--font-blue);
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 7px;
    background-color: black;
    .img-container{
      height: 50px;
      aspect-ratio: 1;
      margin-right: 10px;
    }
  }
  .burger {
    display: none;
    // display: flex;
    width: 100px;
    height: 70%;
    margin: auto 0;
    justify-content: space-between;
    align-items: center;
    color: var(--font-blue);
    padding: 0 8px;
    border-radius: 5%;
    background-color: black;
    .burger-title {
      font-size: medium;
      text-align: center;
      font-weight: 500;
    }
    .burger-menu {
      height: 22px;
      width: auto;
      aspect-ratio: 1.15;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .line {
        border-radius: 25px;
        height: 3px;
        width: 100%;
        background-color: white;
      }
    }
  }
  @import "./header-mobile";
}
